**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [31]:
word = input('Введите слово: ')
index = int(len(word) / 2)
if len(word) % 2 == 1:
    print(word[index])
else:
    print(word[index - 1: index + 1])

Введите слово: serty
r

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

In [42]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) != len(girls):
    print('Кто-то может остаться без пары!')
else:
    print('Идеальные пары:')
    for boy, girl in zip(sorted(boys), sorted(girls)):
        print(f'{boy} и {girl}')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [86]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]


def mean_celsius(list):
    return 5 * ((sum(list) / len(list)) - 32) / 9


for country in countries_temperature:
    print(f'Средняя температура за неделю в {country[0]}: {round(mean_celsius(country[1]), 1)}°C')

Средняя температура за неделю в Thailand: 23.9°C
Средняя температура за неделю в Germany: 13.7°C
Средняя температура за неделю в Russia: 3.7°C
Средняя температура за неделю в Poland: 11.9°C

In [46]:
'''
попрактикую пандас
'''
import pandas as pd

countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]
# Функция получает на входе список из температур в фаренгейтах и возвращает среднюю в цельсиях
def mean_celsius(list):
    return 5 * ((sum(list) / len(list)) - 32) / 9

temperature_df = pd.DataFrame(countries_temperature, columns=['Страна', 'Температура за неделю, °F'])

temperature_df['Средняя температура за неделю, °C'] = \
    temperature_df['Температура за неделю, °F'].apply('mean_celsius')


# for index, country in enumerate(countries_temperature):
#     mean_temperature.loc[index] = {'Страна': country[0], 
# 'Средняя температура, °C': round(mean_celsius(country[1]), 1)}


temperature_df

AttributeError: 'mean_celsius' is not a valid function for 'Series' object

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [85]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

stream_df = pd.DataFrame(stream)[0].str.split(',', expand=True)
stream_df.columns=['date', 'user_id', 'pages_visited']
stream_df['pages_visited'] = pd.to_numeric(stream_df['pages_visited'])
stream_df.groupby('user_id', as_index=False).agg('mean')

  user_id  pages_visited
0   user1           5.25
1   user2           7.00
2   user3           7.00
3   user4          10.20

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [12]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

**Задача 6**. Дан список вида:

In [93]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).

In [96]:
sum([data[i][i] for i in range(len(data))])

103